html,body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-areas:    "header header"
                            "contenido contenido"
                            "contenido contenido"
                            "footer footer"
    ;
    gap: 1rem;
}

body > * {
    border: 1px solid white;
    border-radius: 1rem;
}

header,aside,main,footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    align-items:flex-start;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: hidden;
}

header{
    grid-area: header;
    height: 10vh;
}

aside{
    grid-area: left;
    background-color:blueviolet;
}

main{
    grid-area: contenido;
}

.container{
    width: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

nav{
    position: fixed;
    width: 99%;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: hsla(150, 10%, 10%, 0.1);
}

nav ul{
    list-style: none;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

.divisor > li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.divisor > li >a{
    color: rgb(65, 50, 2);
    text-decoration: none;
}

footer{
    grid-area: footer;
    margin:10px;
    background-color: hsla(150, 10%, 10%, 0.1);
}
